@import url('https://fonts.googleapis.com/css2?family=Asap&family=Roboto:ital,wght@0,500;0,900;1,500&display=swap');

body {
  background-color: #fff;
  background-image: linear-gradient(to right, #b6fbff, #83a4d4);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5% auto;
  padding: 0;
}

header h1 {
  font-size: 60px;
  font-weight: 900;
  color: #553c9a;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: 0 auto;
  border: 2px solid #553c9a;
  padding: 20px;
  border-radius: 10px;
}

.button {
  background-color: #553c9a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.rc-header > h2 > .button {
  margin-left: 40%;
}

table {
  border-collapse: collapse;
  width: 28rem;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

form > .input-field {
  height: 40px;
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.submit-b {
  float: right;
  margin-top: 10px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  color: #553c9a;
  margin-bottom: 10px;
}

/* Media query for small screens */
@media (max-width: 768px) {
  header h1 {
    font-size: 36px; /* Reduce font size for smaller screens */
  }

  .main {
    flex-direction: column;
    align-items: center;
  }

  .rc-header > h2 > .button {
    margin: 10px auto;
  }

  table {
    width: 100%;
  }

  th,
  td {
    padding: 8px;
  }

  form > .input-field {
    width: 100%;
  }

  .submit-b {
    margin: 10px auto; /* Center the submit button */
  }
}
